body {
    background-color: black;
}
header h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.download_excursion {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

.video {
    text-align: center;
    background-color: black;
}

.ad {
    text-align: center;
}

.ad_font {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

.caption {
    font-family: Verdana;
    font-size: 21px;
    color: grey;
}

footer {
    text-align: right;
    color: grey;
}